html,body{
	margin:0;
	padding:0;
}
body{
	background:#383838;
	color:white;
	font-size:16px;
	font-family:'open sans' sans serif;
	font-variant:normal;
	font-style:normal;
	text-align:center;
}
body > div{
	border:1px solid white;
	border-radius:5px;
	width:50%;
	min-width:320px;
	max-width:800px;
	display:inline-flex;
	align-content:stretch;
	align-items:flex-start;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:flex-start;
	box-sizing:border-box;
}
#player{
	padding:10px;
	text-align:center;
	margin:10px 0;
}
#player > div{
	display:inline-block;
	flex:1;
}
#player #crl{
	width:195px;
}
#player #opts{
	display:flex;
	flex:none;
	width:100%;
}
#player #opts span{
	display:inline-block;
	width:100%;
}
#player #cover{
	width:100px;
	height:100px;
	background:white;
	border-radius:5px;
	margin:0 5px 5px 0;
	align-self:auto;
}
#player #title{
	width:100%;
	margin:0;
	display:inline-block;
	text-align:center;
	word-wrap:break-word;
}
#player input:not([disabled]){
	cursor:pointer;
}
#player input[type="button"]{/* Coloring credit: http://devgrow.com/dark-button-navigation-using-css3 */
	font-family:Arial;
	height:32px;
	font-size:17px;
	color:#9FA8B0;
	background-image: linear-gradient(to bottom, #3D4850 3%, #313d45 4%, #232B30 100%);
	box-shadow:1px 1px 1px rgba(0,0,0,0.2);
	border:1px solid #1c252b;
	border-radius:10px;
}
#player input[type="button"]:hover{
	background-image: linear-gradient(to bottom, #4C5A64 3%, #404F5A 4%, #2E3940 100%);
	color:white;
}
#player input[type="button"]:active{
	background: linear-gradient(to bottom, #20282D 3%, #252E34 51%, #222A30 100%);
	box-shadow: 1px 1px 1px rgba(255,255,255,0.1)
}
#player #back,
#player #next{
	margin:6px 0 6px;
	width:80px;
}
#player #error{
	width:100%;
	height:30px;
	margin:0;
	color:red;
	font-weight:bold;
	text-align:center;
	display:none;
}
#player #error.open{
	display:block;
}
#player audio{ /* for IE 11 */
	width:100%;
	max-height:30px;
}
#player audio::-webkit-media-controls-play-button,
#player audio::-webkit-media-controls-mute-button{
	cursor:pointer;
}
#player audio::-webkit-media-controls-volume-slider,
#player audio::-webkit-media-controls-timeline{
	cursor:ew-resize;
}
#player audio::-webkit-media-controls-panel{
	background-color:#272525;
	border-radius:5px;
}
#player audio::-webkit-media-controls-time-remaining-display,
#player audio::-webkit-media-controls-current-time-display{
	color:white;
}
#playlist{
	min-height:295px;
	overflow:auto;
	text-align:left;
	margin-bottom:6px;
}
#playlist > ul{
	margin:9px 0 9px 9px;
}
#playlist li{
	background-repeat:no-repeat;
	padding-left:25px;
	line-height:25px;
}
#playlist ul{
	list-style:none;
	padding-left:0;
}
#playlist > ul ul{ /* Next 3 lines make the folder open/close have a slide effect, I found it hard to use with the hover effect enabled */
	/*transition-property:height;
	transition-duration:1s;
	transition-timing-function:linear;*/
	overflow:hidden;
	height:0;
}
#playlist li:hover > ul, /* This is the line that makes the folder open on mouse over */
#playlist li.open > ul{
	height:auto;
}
#playlist .folder{
	background-image:url(/icons/folder.png);
}
#playlist .folder.open{
	background-image:url(/icons/folder.open.png);
}
#playlist .song{
	background-image:url(/icons/sound2.png);
	cursor:pointer;
}
#playlist li[played]:before{
	content:"\2714  ";
	color:aqua; /* http://i.imgur.com/2pLPx59.jpg */
	font-style:normal;
}
#playlist li{
	font-style:italic;
	color:lime;
}
#playlist li:not(.playing){
	font-style:normal;
	color:white;
}
@media (max-width:1150px){
	body > div{
		width:75%;
	}
}
@media (max-width:850px){
	body > div{
		width:80%;
	}
}
@media (max-width:800px){
	body > div{
		width:85%;
	}
}
@media (max-width:690px){
	body > div{
		 width:90%;
	}
	#player input[type="button"]{
		height:25px;
		font-size:16px;
	}
	#id3 .year{
		display:none;
	}
}
@media (max-width:630px){
	#player #id3{
		display:none;
	}
	#player input[type="button"]{
		height:32px;
		font-size:17px;
	}
}
@media (max-width:475px){
	#player input[type="button"]{
		height:25px;
		font-size:16px;
	}
}
@media (max-width:320px){
	#player{
		margin-top:0;
		margin-bottom:2px;
	}
	#playlist{
		margin-bottom:0;
	}
}
